.cards {
}
body {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
#list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.img {
  width: 400px;
  height: 400px;
}
li {
  list-style: none;
  text-align: center;
}
.a {
  text-align: center;
  width: 100%;
}
